html,
body {
  font-family: 'Montserrat', 'Helvetica Neue',  Arial, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #ffffff;
}

/* Utils */

.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 1;
}

.d-flex-c-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.action-icon-dark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  z-index: 9;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 3px;
  background-color: rgba(30, 35, 47, 0.8);
  color: rgba(222, 222, 222, 0.8);
  -webkit-box-shadow:
    0 3.3px 4.7px rgba(0, 0, 0, 0.101),
    0 11.2px 15.9px rgba(0, 0, 0, 0.149),
    0 50px 71px rgba(0, 0, 0, 0.25);
  box-shadow:
    0 3.3px 4.7px rgba(0, 0, 0, 0.101),
    0 11.2px 15.9px rgba(0, 0, 0, 0.149),
    0 50px 71px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.action-icon-dark:hover,
.action-icon-dark:focus {
  color: rgba(222, 222, 222, 1);
  background-color: rgba(30, 35, 47, 1);
}

.action-icon-dark.bottom {
  position: fixed;
  bottom: 10px;
}

.media-divider {
  background-color: #ffffff;
  height: 2px;
  border-radius: 2px;
}

/* Step 3 */

/* Fix for: Soft Keyboard (Android) breaks layout */
#tour-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Modal */

.modal-content {
  background-color: rgba(222, 222, 222, 0.8);
  color: rgba(30, 35, 47, 1);
  border: 0;
  font-weight: bold;
}

.modal-content .modal-close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -6px;
  right: -6px;
  padding: 0;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1;
  border: 0;
  border-radius: 50%;
  color: rgba(220, 53, 69, 0.8);
  background-color: #ffffff;
  -webkit-box-shadow: 0 4px 10px 0 rgba(30, 35, 47, 0.2);
          box-shadow: 0 4px 10px 0 rgba(30, 35, 47, 0.2);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.modal-content .modal-close:hover,
.modal-content .modal-close:focus {
  color: rgba(220, 53, 69, 1);
}

.modal-btn-red {
  color: rgba(222, 222, 222, 0.8);
  background-color: rgba(220, 53, 69, 0.8);
  border: 0;
  border-radius: 30px;
}

.modal-btn-red:hover,
.modal-btn-red:focus {
  color: rgba(222, 222, 222, 1);
  background-color: rgba(220, 53, 69, 1);
}

.modal-btn-blue {
  color: rgba(222, 222, 222, 0.8);
  background-color: rgba(30, 35, 47, 0.8);
  border: 0;
  border-radius: 30px;
}

.modal-btn-blue:hover,
.modal-btn-blue:focus {
  color: rgba(222, 222, 222, 1);
  background-color: rgba(30, 35, 47, 1);
}

/* Pannellum */

.pnlm-load-box {
  top: 85px;
  left: initial;
  right: 46px;
  width: 180px;
  height: 85px;
  color: rgba(30, 35, 47, 1);
  background-color: rgba(222, 222, 222, 0.8);
}

.pnlm-load-box p {
  margin: 10px 0;
}

.pnlm-loading {
  background-color: rgba(30, 35, 47, 1);
}

.pnlm-lbar-fill {
  background: rgba(30, 35, 47, 1);
}

.pnlm-lbar {
  border: 1px solid rgba(30, 35, 47, 1);
}

.pnlm-controls-container {
  top: 5px;
  left: initial;
  right: 10px;
}

div.pnlm-tooltip span {
  visibility: hidden;
  position: absolute;
  border-radius: 3px;
  background-color: #ffffff;
  color: rgba(30, 35, 47, 1);
  text-align: center;
  max-width: 200px;
  padding: 5px 10px;
  margin-left: -220px;
  cursor: default;
  font-size: 12px;
  font-weight: bold;
}

div.pnlm-tooltip:hover span {
  visibility: visible;
}

div.pnlm-tooltip:hover span:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;
  bottom: -20px;
  left: -10px;
  margin: 0 50%;
}

.custom-hotspot-symbol {
  background: transparent;
  width: 26px;
  height: 16px;
  border: 4px solid white;
  border-radius: 75%;
  opacity: 0.8;
}

.custom-tag-symbol {
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(30, 35, 47, 0.8);
  width: 36px;
  height: 36px;
  border: 4px solid rgba(30, 35, 47, 0.8);
  border-radius: 50%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(30, 35, 47, 0.2);
          box-shadow: 0 4px 8px 0 rgba(30, 35, 47, 0.2);
  cursor: pointer;
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.custom-tag-symbol:hover,
.custom-tag-symbol:focus {
  background-color: rgba(255, 255, 255, 0.8);
  color: rgba(30, 35, 47, 1);
  border: 4px solid rgba(30, 35, 47, 1);
}

.custom-tag-symbol::before {
  font-family: 'Font Awesome\ 5 Free';
  content: '\f129';
  font-size: 21px;
  font-weight: 900;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 3.25px);
}

/* Media Queries */

@media screen and (max-height: 750px) {
  body {
    overflow-y: scroll;
  }
}
